<div class="navbar-div">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">පිවිසුම</a></li>
          <li><a href="#">ධර්ම දේශනා</a></li>
          <li><a href="#">පිරිත්</a></li>
          <li><a href="#">පින්කම්</a></li>
          <li><a href="#">වෙනත් ධර්ම වෙබ් පිටු</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="සෙවීම්">
          </div>
          <button type="submit" class="btn btn-default">සොයන්න</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>