<div class="container">
  <div class="text-center">

    <div class="row">
      <div class="text-center">
        <ul class="nav nav-pills center-pills">
          <li *ngFor="let thero of theroNameSet" role="presentation">
            <a (click)="filterResults(thero)">{{thero}}</a>
          </li>
          <li><a (click)="filterResults('all')">සියළුම</a></li>
        </ul>
      </div>
    </div>
    <br/>

    <!-- items being paged -->
    <div class="row">
      <div *ngFor="let item of pagedItems" class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="getDhammaUrl(item)" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- pager -->
    <div class="row">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">ප්‍රථම</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">පෙර</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">පසු</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">අවසාන</a>
        </li>
      </ul>
    </div>
  </div>
</div>