/* You can add global styles to this file, and also import other style files */
.row-header
{
    text-align: center;
}

.center-pills
{
    display: flex;
    justify-content: center;
}

.site-footer
{
    background-color: lightgrey;
    margin-bottom: 1px;
}

.media-link
{
    max-height: 40px;
}

.footer-content
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-col{
    text-align: right;
}

.first-col{
    text-align: left;
}