<div class="container-fluid">
  <!--ධර්ම දේශනා-->
  <div class="row">
    <div class="row-header">
      <h4>ධර්ම දේශනා</h4>
      <hr/>
    </div>
    <div *ngFor="let item of dammaDeshanaList" class="col-xs-3">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="getDhammaUrl(item)" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <!--ධර්ම දේශනා end-->

  <!--<hr/>-->

  <!--පිරිත් දේශනා-->
  <div class="row">
    <div class="row-header">
      <h4>පිරිත් දේශනා</h4>
      <hr/>
    </div>
    <div *ngFor="let item of pirithList" class="col-xs-3">
      <div class="thumbnail">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" [src]="getDhammaUrl(item)" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <!--පිරිත් දේශනා end-->

</div>